h1 {color: rgb(85, 0, 255)}
body{border:5px dotted rgb(0, 145, 255);
     padding: 30px;
     background-color: rgb(145, 154, 229)
}
#threesections {
    border: 5px dotted rgb(142, 219, 221);
    margin:3px;
    background-color: #b5e2f3;
}
.special {
  background-color: lavender;
  border: dotted 50px rgb(157, 0, 255);
  color: pink;
}